<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>

    <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
          

      <mat-expansion-panel-header>
        <mat-panel-title>
       student id {{student.id}}
        </mat-panel-title>  
        <mat-panel-description>
         predict:{{student.predict}}
          
        </mat-panel-description><mat-panel-description>
      
        
          <button mat-raised-button color="warn" (click)="delete(student.id)">Delete</button>
        </mat-panel-description> 
       
   
      </mat-expansion-panel-header>
      <p>Average math grade: <br>{{student.math}}</p>
      <p>Psychometric : <br>
        {{student.psy}}<br>
        pay all ?<br>
        {{student.payall}}<br>
        owner:
        {{student.emailall}}

    </p>
       
        
    </mat-expansion-panel>
   
  </mat-accordion>
