
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-panel-description{
      text-align: left;
      width: 400px;
  }

  mat-panel-title{
      width: 400px;
  }


  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
        border: 1px solid rgb(125, 190, 233);

      }
  
  