<mat-card>
    <mat-card-content>
    <div class="example-container">
      <h1>Login</h1></div>
      <form #signinForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
          <p>
              <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example: you@you.com"
                  [(ngModel)] = "email"
                  name = "email"
                  required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </p> 
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="example: 42343@@##aZ"
                  [(ngModel)] = "password" 
                  name = "password" 
                  type = "password"
                  required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </p>                                       
          <div >
            <button mat-stroked-button color="primary"
                      [disabled]="!signinForm.form.valid"
                      matTooltip="By default, I delay"
                      aria-label="Button that displays a tooltip that has custom delays through a default config">
                       Login
              </button>
          </div>
          <p></p>
          <p style="color:red" *ngIf = "isError">{{errorMessage}}</p>
        </div>
      </form>
    </mat-card-content>
     </mat-card>
  
  