.example-container {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  button {
      margin-left:10px;

     }

     
  
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }