.sidenav-container {

  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: rgb(64, 100, 121);
}

.nav-text{
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  color: rgb(64, 100, 121);
}




.mat-nav-list .mat-list-item:hover{
  background-color: rgb(64, 100, 121);
  ;
  color:#fff;

}


.mat-toolbar.mat-primary {
  background: rgb(199, 228, 248);
  position: sticky;
  top: 0;
  z-index: 1;
}

.whitelink {
  color: rgb(64, 100, 121);

  text-decoration:none;

  margin-left:5px; 
}

.spacer {
  width:100%; 
}

.whitelink1 {
  color: rgb(64, 100, 121);
  text-indent: 50px;
  text-decoration:none;
  margin-left:5px;
  cursor: pointer; 
}