<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
     
      <div *ngIf = "(authService.getUser()|async)">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/fromstudent" routerLinkActive="active">Add Student</a>
      <a mat-list-item routerLink="/students" routerLinkActive="active"> Student List</a>
      <a mat-list-item href="#"></a>
  
    </mat-nav-list>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav-text">
        <div> <b>Angular Exsam - Gal</b></div>
     </div>

      <span class = "spacer"></span>
         <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)"><b>Signup</b></a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)"><b>Login</b></a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)"><b>Logout</b></a>
  
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
