<p></p><p></p><br><br><h1 ><b>welcom</b><br> <br> <br><b>{{email}}</b></h1>
<div *ngIf = "!(authService.getUser()|async)">
    <p></p>
    <p></p>
    <h2> You are not logged in, you can register or log in at the links above</h2>

</div>
