
h1 {
  letter-spacing: 5px;
    font-size: 50px;
    text-align: center;
    padding-top: 35px;
    
    color:rgb(64, 100, 121);
    text-shadow: 8px 8px #a9bde0;
  }

  h2 {
    

      text-align: center;
 
      
      color:rgb(64, 100, 121);
     
    }

  .example-small-box, .example-large-box {

    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 500px;
    width: 1000px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

  
  
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }