<mat-card>
    <h1>Student data</h1>
  
      <form #fromstudent="ngForm">
        <div class="example-container">
          <p>
              <mat-form-field appearance="standard">
                <mat-label>Average grade in mathematics</mat-label>
                <input matInput 
             
                type="number" min="0" max="100"
                  [(ngModel)] = "math"
                  name = "math"
                  required>
              </mat-form-field>
            </p> 
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Psychometric score</mat-label>
                <input matInput 
          
                type="number" min="0" max="800"
                  [(ngModel)] = "psy" 
                  name = "psy" 
                  required>
              </mat-form-field>
            </p> 
            <p>
              
              <mat-form-field appearance="standard">
              <mat-label>Paid tuition?</mat-label>
              <mat-select place-holder = "Paid tuition?" [(ngModel)] = "payall" name = "payall"   required>

                  <mat-option  *ngFor="let type of types" [value]="type">
                  {{type}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            </p>
         
         <div *ngIf ="!pre"> 
            <button  mat-raised-button [disabled] ="!fromstudent.form.valid"
              (click)="classify()||pre = !pre">
             predict
    </button>       
    </div>

    

        <div *ngIf="!!pre">
          What is the chance that a student will drop out?
          The predicted result will appear to you first, you can choose to change
          <mat-form-field appearance="fill">
            <mat-label>{{predict}}</mat-label>
            <mat-select [(ngModel)]="predict" name="predict">
              <mat-option *ngFor="let type2 of type2s" [value]="type2" selected={{predict}}>
                
                {{type2}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p></p>
              <button   mat-stroked-button color="primary"
             
                      (click)= "updateParent()">
                save
              </button>
              <button mat-raised-button  
                      (click)= "tellParentToClose()">
                       Cancel
              </button>            
        </div>
        </div>
      </form>
     </mat-card>
  
  
  
  